In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
dataset = pd.read_csv("train.csv")

In [3]:
dataset.head()

,Product_id,Stall_no,instock_date,Market_Category,Customer_name,Loyalty_customer,Product_Category,Grade,Demand,Discount_avail,charges_1,charges_2 (%),Minimum_price,Maximum_price,Selling_Price
0,BRAE2NF6JA5GUEXG,37.0,2015-08-22 18:36:12.000,2,Lillyann,Yes,Fashion,1,68,0.0,376.0,11.0,2983.0,4713.0,4185.947700
1,TUNE8SFB6RJN2HSD,38.0,2016-03-27 21:19:13.000,24,Klynn,Yes,Fashion,0,51,0.0,397.0,12.0,7495.0,10352.0,9271.490256
2,BRAEAR7WZPQGPBZU,9.0,2015-08-18 19:25:22.000,447,Ridge,Yes,Child_care,0,10,0.0,250.0,9.0,5752.0,7309.0,6785.701362
3,WATDZ2ZQ8JPDHCTJ,50.0,2016-03-28 21:53:01.000,23,Abran,Yes,Educational,2,48,0.0,144.0,13.0,5090.0,20814.0,13028.917824
4,JWSEBUKYQPMBZ3RK,7.0,2016-03-29 22:58:53.000,63,Dustyn,Yes,Repair,1,35,1.0,211.0,4.0,2430.0,9261.0,906.553935

In [4]:
dataset.columns

Index(['Product_id', 'Stall_no', 'instock_date', 'Market_Category',
       'Customer_name', 'Loyalty_customer', 'Product_Category', 'Grade',
       'Demand', 'Discount_avail', 'charges_1', 'charges_2 (%)',
       'Minimum_price', 'Maximum_price', 'Selling_Price'],
      dtype='object')

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6368 entries, 0 to 6367
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Product_id        6368 non-null   object
 1   Stall_no          6363 non-null   float64
 2   instock_date      6368 non-null   object
 3   Market_Category   6368 non-null   int64
 4   Customer_name     6157 non-null   object
 5   Loyalty_customer  6368 non-null   object
 6   Product_Category  6368 non-null   object
 7   Grade             6368 non-null   int64
 8   Demand            6368 non-null   int64
 9   Discount_avail    6330 non-null   float64
 10  charges_1         6170 non-null   float64
 11  charges_2 (%)     6163 non-null   float64
 12  Minimum_price     6330 non-null   float64
 13  Maximum_price     6025 non-null   float64
 14  Selling_Price     6327 non-null   float64
dtypes: float64(7), int64(3), object(5)
memory usage: 746.4+ KB

## Data Cleaning

In [6]:
##Missing Values
dataset.isnull().sum()

Product_id            0
Stall_no              5
instock_date          0
Market_Category       0
Customer_name       211
Loyalty_customer      0
Product_Category      0
Grade                 0
Demand                0
Discount_avail       38
charges_1           198
charges_2 (%)       205
Minimum_price        38
Maximum_price       343
Selling_Price        41
dtype: int64

In [7]:
dataset['Stall_no'].fillna(25.309445,inplace=True)

C:\Users\91736\AppData\Local\Temp\ipykernel_30188\1783896748.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset['Stall_no'].fillna(25.309445,inplace=True)

In [8]:
dataset.describe()

,Stall_no,Market_Category,Grade,Demand,Discount_avail,charges_1,charges_2 (%),Minimum_price,Maximum_price,Selling_Price
count,6368.000000,6368.000000,6368.000000,6368.000000,6330.000000,6170.000000,6163.000000,6330.000000,6025.000000,6327.000000
mean,25.309445,199.340609,0.643687,50.921168,0.140442,264.514100,10.146195,3531.349763,6432.545892,4563.242592
std,14.323352,170.275570,1.025092,29.091922,0.347473,124.483056,4.318339,2194.729604,3716.177364,2979.102408
min,1.000000,0.000000,0.000000,1.000000,0.000000,100.000000,1.000000,1.000000,404.000000,-6062.470000
25%,13.000000,55.000000,0.000000,26.000000,0.000000,163.000000,7.000000,1879.250000,3918.000000,2450.005280
50%,25.000000,132.000000,0.000000,51.000000,0.000000,252.000000,10.000000,3157.500000,5634.000000,4210.384640
75%,37.000000,403.000000,2.000000,76.000000,0.000000,314.000000,14.000000,4697.000000,8126.000000,6167.643252
max,50.000000,471.000000,3.000000,100.000000,1.000000,649.000000,17.000000,17580.000000,58812.000000,22638.325941

In [9]:
dataset['Discount_avail'].fillna(0.140442,inplace=True)

C:\Users\91736\AppData\Local\Temp\ipykernel_30188\3801372883.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset['Discount_avail'].fillna(0.140442,inplace=True)

In [10]:
dataset.isnull().sum()

Product_id            0
Stall_no              0
instock_date          0
Market_Category       0
Customer_name       211
Loyalty_customer      0
Product_Category      0
Grade                 0
Demand                0
Discount_avail        0
charges_1           198
charges_2 (%)       205
Minimum_price        38
Maximum_price       343
Selling_Price        41
dtype: int64

In [11]:
dataset['charges_1'].fillna(264.514100,inplace=True)

C:\Users\91736\AppData\Local\Temp\ipykernel_30188\2173445767.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset['charges_1'].fillna(264.514100,inplace=True)

In [12]:
dataset['charges_2 (%)'].fillna(10.146195,inplace=True)

C:\Users\91736\AppData\Local\Temp\ipykernel_30188\2876689586.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset['charges_2 (%)'].fillna(10.146195,inplace=True)

In [13]:
dataset['Minimum_price'].fillna(3531.349763,inplace=True)

C:\Users\91736\AppData\Local\Temp\ipykernel_30188\306302546.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset['Minimum_price'].fillna(3531.349763,inplace=True)

In [14]:
dataset['Maximum_price'].fillna(6432.545892,inplace=True)

C:\Users\91736\AppData\Local\Temp\ipykernel_30188\1728640063.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset['Maximum_price'].fillna(6432.545892,inplace=True)

In [15]:
dataset['Selling_Price'].fillna(4563.242592,inplace=True)

C:\Users\91736\AppData\Local\Temp\ipykernel_30188\2404589268.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset['Selling_Price'].fillna(4563.242592,inplace=True)

In [16]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6368 entries, 0 to 6367
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Product_id        6368 non-null   object
 1   Stall_no          6368 non-null   float64
 2   instock_date      6368 non-null   object
 3   Market_Category   6368 non-null   int64
 4   Customer_name     6157 non-null   object
 5   Loyalty_customer  6368 non-null   object
 6   Product_Category  6368 non-null   object
 7   Grade             6368 non-null   int64
 8   Demand            6368 non-null   int64
 9   Discount_avail    6368 non-null   float64
 10  charges_1         6368 non-null   float64
 11  charges_2 (%)     6368 non-null   float64
 12  Minimum_price     6368 non-null   float64
 13  Maximum_price     6368 non-null   float64
 14  Selling_Price     6368 non-null   float64
dtypes: float64(7), int64(3), object(5)
memory usage: 746.4+ KB

In [17]:
dataset.columns

Index(['Product_id', 'Stall_no', 'instock_date', 'Market_Category',
       'Customer_name', 'Loyalty_customer', 'Product_Category', 'Grade',
       'Demand', 'Discount_avail', 'charges_1', 'charges_2 (%)',
       'Minimum_price', 'Maximum_price', 'Selling_Price'],
      dtype='object')

In [18]:
df = dataset[['Product_id', 'Stall_no', 'instock_date', 'Market_Category','Loyalty_customer', 'Product_Category', 'Grade','Demand', 'Discount_avail', 'charges_1', 'charges_2 (%)','Minimum_price', 'Maximum_price', 'Selling_Price']]

In [19]:
df.head()

,Product_id,Stall_no,instock_date,Market_Category,Loyalty_customer,Product_Category,Grade,Demand,Discount_avail,charges_1,charges_2 (%),Minimum_price,Maximum_price,Selling_Price
0,BRAE2NF6JA5GUEXG,37.0,2015-08-22 18:36:12.000,2,Yes,Fashion,1,68,0.0,376.0,11.0,2983.0,4713.0,4185.947700
1,TUNE8SFB6RJN2HSD,38.0,2016-03-27 21:19:13.000,24,Yes,Fashion,0,51,0.0,397.0,12.0,7495.0,10352.0,9271.490256
2,BRAEAR7WZPQGPBZU,9.0,2015-08-18 19:25:22.000,447,Yes,Child_care,0,10,0.0,250.0,9.0,5752.0,7309.0,6785.701362
3,WATDZ2ZQ8JPDHCTJ,50.0,2016-03-28 21:53:01.000,23,Yes,Educational,2,48,0.0,144.0,13.0,5090.0,20814.0,13028.917824
4,JWSEBUKYQPMBZ3RK,7.0,2016-03-29 22:58:53.000,63,Yes,Repair,1,35,1.0,211.0,4.0,2430.0,9261.0,906.553935

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6368 entries, 0 to 6367
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Product_id        6368 non-null   object
 1   Stall_no          6368 non-null   float64
 2   instock_date      6368 non-null   object
 3   Market_Category   6368 non-null   int64
 4   Loyalty_customer  6368 non-null   object
 5   Product_Category  6368 non-null   object
 6   Grade             6368 non-null   int64
 7   Demand            6368 non-null   int64
 8   Discount_avail    6368 non-null   float64
 9   charges_1         6368 non-null   float64
 10  charges_2 (%)     6368 non-null   float64
 11  Minimum_price     6368 non-null   float64
 12  Maximum_price     6368 non-null   float64
 13  Selling_Price     6368 non-null   float64
dtypes: float64(7), int64(3), object(4)
memory usage: 696.6+ KB

In [21]:
x= df.iloc[:,:-1]
y = df.iloc[:,-1]

In [22]:
x['Loyalty_customer'].unique()

array(['Yes', 'No '], dtype=object)

In [23]:
x['Product_Category'].unique()

array(['Fashion', 'Child_care', 'Educational', 'Repair', 'Technology',
       'Cosmetics', 'Hospitality', 'Organic', 'Pet_care', 'Home_decor'],
      dtype=object)

In [24]:
x['Product_id'].unique()

array(['BRAE2NF6JA5GUEXG', 'TUNE8SFB6RJN2HSD', 'BRAEAR7WZPQGPBZU', ...,
       'PBXEB9ZQ7HHCFXYG', 'NKCEAGXHRYTNTMG7', 'CAGE53FSAFWZRHFF'],
      shape=(6368,), dtype=object)

In [25]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [26]:
oencoder = OrdinalEncoder()

In [27]:
oencoder.fit_transform(df[['Loyalty_customer']])

array([[1.],
       [1.],
       [1.],
       ...,
       [0.],
       [1.],
       [1.]], shape=(6368, 1))

In [28]:
df['Loyalty_customer'] = oencoder.fit_transform(df[['Loyalty_customer']])

C:\Users\91736\AppData\Local\Temp\ipykernel_30188\261548450.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Loyalty_customer'] = oencoder.fit_transform(df[['Loyalty_customer']])

In [29]:
df['Loyalty_customer']

0       1.0
1       1.0
2       1.0
3       1.0
4       1.0
       ...
6363    1.0
6364    1.0
6365    0.0
6366    1.0
6367    1.0
Name: Loyalty_customer, Length: 6368, dtype: float64

In [30]:
oencoder.fit_transform(df[['Product_id']])

array([[ 538.],
       [5946.],
       [ 810.],
       ...,
       [3923.],
       [3387.],
       [1273.]], shape=(6368, 1))

In [31]:
df['Product_id'] = oencoder.fit_transform(df[['Product_id']])

C:\Users\91736\AppData\Local\Temp\ipykernel_30188\1631781062.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Product_id'] = oencoder.fit_transform(df[['Product_id']])

In [32]:
df['Product_id']

0        538.0
1       5946.0
2        810.0
3       6143.0
4       2335.0
         ...
6363    6215.0
6364    5089.0
6365    3923.0
6366    3387.0
6367    1273.0
Name: Product_id, Length: 6368, dtype: float64

In [33]:
onehot = OneHotEncoder(handle_unknown='ignore',sparse_output=False).set_output(transform='pandas')

In [34]:
x = onehot.fit_transform(df[['Product_Category']])

In [35]:
x

,Product_Category_Child_care,Product_Category_Cosmetics,Product_Category_Educational,Product_Category_Fashion,Product_Category_Home_decor,Product_Category_Hospitality,Product_Category_Organic,Product_Category_Pet_care,Product_Category_Repair,Product_Category_Technology
0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...
6363,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
6364,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6365,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
6366,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
6367,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [36]:
df = pd.concat([df,x],axis=1).drop(columns=['Product_Category'])

In [37]:
df.head(10)

,Product_id,Stall_no,instock_date,Market_Category,Loyalty_customer,Grade,Demand,Discount_avail,charges_1,charges_2 (%),...,Product_Category_Child_care,Product_Category_Cosmetics,Product_Category_Educational,Product_Category_Fashion,Product_Category_Home_decor,Product_Category_Hospitality,Product_Category_Organic,Product_Category_Pet_care,Product_Category_Repair,Product_Category_Technology
0,538.0,37.0,2015-08-22 18:36:12.000,2,1.0,1,68,0.0,376.0,11.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,5946.0,38.0,2016-03-27 21:19:13.000,24,1.0,0,51,0.0,397.0,12.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,810.0,9.0,2015-08-18 19:25:22.000,447,1.0,0,10,0.0,250.0,9.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,6143.0,50.0,2016-03-28 21:53:01.000,23,1.0,2,48,0.0,144.0,13.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2335.0,7.0,2016-03-29 22:58:53.000,63,1.0,1,35,1.0,211.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
5,4921.0,23.0,2015-09-25 16:31:46.000,162,0.0,1,49,0.0,633.0,6.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
6,4996.0,33.0,2014-12-08 12:25:52.000,462,0.0,3,57,0.0,263.0,13.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,5008.0,4.0,2015-09-22 14:29:06.000,23,1.0,1,67,0.0,104.0,15.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,2375.0,26.0,2016-03-28 21:48:01.000,156,1.0,0,53,0.0,310.0,6.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,547.0,5.0,2015-08-19 22:16:52.000,275,1.0,0,84,1.0,321.0,8.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [38]:
df.columns

Index(['Product_id', 'Stall_no', 'instock_date', 'Market_Category',
       'Loyalty_customer', 'Grade', 'Demand', 'Discount_avail', 'charges_1',
       'charges_2 (%)', 'Minimum_price', 'Maximum_price', 'Selling_Price',
       'Product_Category_Child_care', 'Product_Category_Cosmetics',
       'Product_Category_Educational', 'Product_Category_Fashion',
       'Product_Category_Home_decor', 'Product_Category_Hospitality',
       'Product_Category_Organic', 'Product_Category_Pet_care',
       'Product_Category_Repair', 'Product_Category_Technology'],
      dtype='object')

In [39]:
y = df['Selling_Price']

In [40]:
x = df[[ 'Stall_no', 'Market_Category',
       'Loyalty_customer', 'Grade', 'Demand', 'Discount_avail', 'charges_1',
       'charges_2 (%)', 'Minimum_price', 'Maximum_price', 
       'Product_Category_Child_care', 'Product_Category_Cosmetics',
       'Product_Category_Educational', 'Product_Category_Fashion',
       'Product_Category_Home_decor', 'Product_Category_Hospitality',
       'Product_Category_Organic', 'Product_Category_Pet_care',
       'Product_Category_Repair', 'Product_Category_Technology']]

In [41]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [42]:
xtrain = scaler.fit_transform(x)

In [43]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()

In [44]:
regressor.fit(x,y)

LinearRegression()

In [45]:
ypred = regressor.predict(x)

In [46]:
from sklearn.metrics import r2_score
print(r2_score(y,ypred))

0.8845190437525015

In [47]:
test=pd.read_csv('test.csv')

In [48]:
product_id=test[['Product_id']]

In [49]:
test=test.drop(['Product_id','Customer_name','instock_date'],axis=1)

In [50]:
x_test=np.array(test)