In [1]:
#Measure Of central tendency

In [5]:
import numpy as np

In [6]:
# Mean
age = [12,15,25,23,12,22,11,45,26]

In [7]:
np.mean(age)

np.float64(21.22222222222222)

In [8]:
weights = [54,25,55,68,75,45,90,26,36,33,66]
np.mean(weights)

np.float64(52.09090909090909)

In [10]:
import seaborn as sns
df = sns.load_dataset('tips')

In [11]:
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [12]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [13]:
np.mean(df['total_bill'])

np.float64(19.78594262295082)

In [20]:
#Median

In [28]:
outlier_age = [12,15,25,23,12,22,11,45,26,200]

In [29]:
np.mean(age)

np.float64(21.22222222222222)

In [30]:
np.mean(outlier_age)

np.float64(39.1)

In [31]:
np.median(age)

np.float64(22.0)

In [33]:
np.median(outlier_age)

np.float64(22.5)

In [34]:
#Mode

In [35]:
from scipy import stats

In [36]:
stats.mode(outlier_age)

ModeResult(mode=np.int64(12), count=np.int64(2))

In [37]:
stats.mode(age)

ModeResult(mode=np.int64(12), count=np.int64(2))